@{
    ViewBag.Title = "Producto";
}
<div class="container-fluid mt-2">
    <div class="row justify-content-center">
        <div class="col-xxl-10">
            <div class="row">
                <div class="col-xxl-8">
                    <div class="card">
                        <div class="card-header d-block p-3">
                            <h4 class="card-title mb-1">Product Information</h4>
                            <p class="text-muted mb-0">
                                To add a new product, please provide the necessary
                                details in the fields below.
                            </p>
                        </div> <!-- end card-header -->

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="productName" class="form-label">
                                            Product Name <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="productName"
                                               placeholder="Enter product name" required="">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="skuId" class="form-label">
                                            SKU <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="skuId"
                                               placeholder="SOFA-10058" required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="stockNumber" class="form-label">
                                            Stock <span class="text-danger">*</span>
                                        </label>
                                        <input type="number" class="form-control" id="stockNumber"
                                               placeholder="250">
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->

                    <div class="card">
                        <div class="card-header d-block p-3">
                            <h4 class="card-title mb-1">Product Image</h4>
                            <p class="text-muted mb-0">
                                To upload a product image, please use the option below to
                                select and upload the relevant file.
                            </p>
                        </div> <!-- end card-header -->

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <form action="/" method="post" class="dropzone" id="myAwesomeDropzone"
                                          data-plugin="dropzone" data-previews-container="#file-previews"
                                          data-upload-preview-template="#uploadPreviewTemplate">
                                        <div class="fallback">
                                            <input name="file" type="file">
                                        </div>

                                        <div class="dz-message needsclick">
                                            <div class="avatar-lg mx-auto mb-3">
                                                <span class="avatar-title bg-info-subtle text-info rounded-circle">
                                                    <i class="fs-24 ti ti-cloud-upload"></i>
                                                </span>
                                            </div>
                                            <h4 class="mb-2">Drop files here or click to upload.</h4>
                                            <p class="text-muted fst-italic mb-3">
                                                You can drag images here, or
                                                browse files via the button below.
                                            </p>
                                            <button type="button" class="btn btn-sm shadow btn-default">
                                                Browse
                                                Images
                                            </button>
                                        </div>
                                    </form>

                                    <!-- Preview -->
                                    <div class="dropzone-previews mt-3" id="file-previews"></div>

                                    <!-- file preview template -->
                                    <div class="d-none" id="uploadPreviewTemplate">
                                        <div class="card mt-1 mb-0 border-dashed border">
                                            <div class="p-2">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <img data-dz-thumbnail src="#"
                                                             class="avatar-sm rounded bg-light" alt="">
                                                    </div>
                                                    <div class="col ps-0">
                                                        <a href="javascript:void(0);" class="fw-semibold"
                                                           data-dz-name></a>
                                                        <p class="mb-0 text-muted" data-dz-size></p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="" class="btn btn-link btn-lg text-danger"
                                                           data-dz-remove>
                                                            <i class="ti ti-x"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div> 

                <div class="col-xxl-4">
                    <div class="card">
                        <div class="card-header d-block p-3">
                            <h4 class="card-title mb-1">Pricing</h4>
                            <p class="text-muted mb-0">
                                Set the base price and applicable discount for the
                                product using the options below.
                            </p>
                        </div>

                        <div class="card-body">
                            <div class="mb-3">
                                <label for="basePrice" class="form-label">
                                    Base Price <span class="text-danger">*</span>
                                </label>
                                <div class="app-search">
                                    <input type="number" class="form-control" id="basePrice"
                                           placeholder="Enter base price (e.g., 199.99)">
                                    <i data-lucide="dollar-sign" class="app-search-icon text-muted"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 

</div>
